body {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  margin-left: 20px;
  width: 100px;
}

button:hover {
  background-color: #ffffff;
  color: #2A3356;
}

button:disabled {
  border: 2px solid #718CA1;
  color: #718CA1;
}

.header {
  color: white;
}

.title {
  font-size: 45px;
}

.display-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.game-container {
  display: flex;
}

.left-container {
  background-color: #2A3356;
  height: 100vh;
  text-align: center;
  width: 50%;
}

.error {
  color: #ffffff;
  font-size: 15px;
}

.guess-input {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
  font-size: 45px;
  margin-top: 30px;
  text-align: center;
  width: 200px;
}

.display-section {
  text-align: center;
  height: 100vh;
  width: 50%;
}

.min-input, .max-input {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 10px;
  text-align: center;
  width: 100px;
}

.guess-title {
  font-size: 15px;
  margin-top: 150px;
}

.guess {
  font-size: 85px;
  margin: 15px 0px;
}

.new-game-btn {
  border: 1px solid #2A363B;
  color: #2A363B;
}

.new-game-btn:hover {
  border: 1px solid #E84A5F;
  color: #E84A5F;
}
